.header {
    min-height: 7em;
    background-color: var(--clr-primary-1);
    color: white;
    /* header sticks to top on scroll */
    position: sticky;
    top: 0;
}

.navlinks-container {
    display: flex;
    justify-content: space-around;
   
}

.nav-link {
    padding: 2rem;
   
}

.nav-link h2 {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--clr-grey-10);
    text-decoration: none;
}

.nav-link h2:hover {
    color: var(--clr-grey-8);
}

@media screen and (min-width: 992px){
   .nav-link h2 {
        font-size: 1.5rem;
    }

   .navlinks-container {
    margin-left: -3rem;
   }
}